.body_background{
	/*TODO: replace this with a background image*/
	background-color: whitesmoke;
}

.borders{
	/*TODO: change colour and make somewhat transparent*/
	margin: auto;
	width: 400px;
	height: 450px;
}

::-webkit-input-placeholder{
	text-align: center;
}

.head{
	text-align: center;
}

textarea{
	resize: none;
}