<html>
    <head>
        <title>Bug Reporting Page</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/angular.min.js"></script>
        <script src="js/bug_app.js"></script>
    </head>

    <body ng-app="bug_app" class="body_background">


    <form name="form" align="center" class="borders" ng-controller="BugController">
        <h1>FYP Bug Reporter</h1>
        <br>
        <input name="inputBox" type="text" class="form-control" placeholder="Username or Name" ng-model="user.name" required>
        <br>
        <textarea name="textBox" type="text" rows="4" cols="50" class="form-control" placeholder="Report a bug in 500 words or less" ng-model="user.problem" ng-maxlength="500" required></textarea>
        <span ng-show="!user.problem">Please enter a bug!</span>
        <br>
        <button type="button" class="btn btn-primary" ng-disabled="form.inputBox.$invalid || form.textBox.$invalid" ng-click="report()">Report Bug</button>
        <br><br><br>
    </form>

    </body>
</html>